In [1]:
import pandas as pd
import numpy as np
import math

In [14]:
# Data set prep
sailData = pd.read_csv('s3://rmit-ml-2020s1-lab-data/symbolic/sailing-custom-python.tab',delim_whitespace=True)
zooData = pd.read_csv('s3://rmit-ml-2020s1-lab-data/symbolic/zoo-python.tab',delim_whitespace=True)
zooData = zooData.drop(columns='name')

# Dataframing
sailDataFrame = pd.DataFrame(sailData)
zooDataFrame = pd.DataFrame(zooData)

sailDataFrame.loc[sailDataFrame]

  Outlook Company Sailboat Sail
0   rainy     big      big  yes
1   rainy     big    small  yes
2   rainy     med      big   no
3   rainy     med    small   no
4   sunny     big      big  yes

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,No,No,Yes,mammal
1,Yes,No,No,Yes,No,No,No,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal
2,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,0.0,Yes,No,No,fish
3,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,No,No,Yes,mammal
4,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal

In [4]:
def entropy(zooDataFrame, target):
    entropy_value = 0
    for

SyntaxError: unexpected EOF while parsing (<ipython-input-4-83cdd1202233>, line 1)